@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Protest+Riot&display=swap');


span { 
        color:orange;
}  /* pour le colorer la 2eme partie du logo*/

span:hover {
        color: black;
}


body { 
        font-family: "Oswald" , Arial ;
         /*ajouter la nouveau uploader depuis googlefont*/
         background-image: url(gym.jpg);
         background-position: center center;
         background-size: cover;
         background-repeat: no-repeat;
         padding: 0;
         margin: 0; 
} 
.logo, nav , nav li {
        display: inline-block; }

nav{
        margin-left: 175px;
}
a {     color: blanchedalmond;
        margin-right: 10px; 
        text-decoration: none;
       }   /*Pour espacer les li*/ 

.logo {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      color: blanchedalmond;
      text-decoration: none;
  }

li { 
      list-style: none;
      margin-right: 10px;}  /*pour enlver les points associes avec li*/

a:hover{
    
      color: orange;   /*quand on met le curseur sur a ca color en orange*/
}

.content-wrapper {
        max-width: 800px; /* la largeur du texte pour avoir meilleure lisibilité */
        margin-left: auto; /* Centre le texte à l'intérieur de la section */
        margin-right: auto;
}

img { 
         width: 400px;
         height: 400px;
         object-fit: cover;
         margin-top: 4px;  } 

footer{  /*margin-bottom: 0;*/
        
       text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 250px;
}
.span-footer{
        color:blanchedalmond;
}
.sign-up-button {
        background-color:gray;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        color: orange;   
}

h1 {
        color:black;
        margin-left: 20px;
        background-color:rgba(240, 240, 240, 0.3);
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      
}        


.find-us-section{
         color: antiquewhite;
}
.copyright-section{
        color: antiquewhite;
}

.box
{
        color: blanchedalmond;
        width: 50%;
        margin-left: 20px;
        text-align: center;
      
        padding-top: 70px;
}
.button {
     background-color:gray;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
        background-color:orange;
    }

.span-footer:hover{
        color: orange;
    }

