

@keyframes moveLeft {
    0% {
        transform: translateX(0); 
    }
    25% {
        transform: translateX(-25%); 
    }
    50% {
        transform: translateY(-50%); 
    }
    50% {
        transform: translateX(-50%); 
    }
    75% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateX(-100%); 
    }
   
}

@keyframes moveRight {
    0% {
        transform: translateX(0); 
    }
    25% {
        transform: translateY(-25%); 
    }
    50% {
        transform: translateX(50%); 
    }
    75% {
        transform: translateY(75%); 
    }
    100% {
        transform: translateX(100%); 
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nutrition-icon {
    position: relative;
    width: 300px;
    height: 300px; 
   
}

.nutrition-icon img {
    position: absolute;
    width: 100%; 
    height: auto; 
    top: 0;
    border-radius: 25%;
    transition: transform 0.2s ease, opacity 0.3s ease; /* Transition pour l'animation */
}

.nutrition-icon:hover .left {
    animation: moveLeft 5s backwards; 

}

.nutrition-icon:hover .right {
    animation: moveRight 5s forwards; 
   
}

.text {
    font-size: 48px;
    text-align: center;
    padding-top: 40px;
    color: red;
}
