@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Protest+Riot&display=swap');


span { 
        color:orange;
}  /* pour le colorer la 2eme partie du logo*/

span:hover {
        color: black;
}

 
.logo, nav , nav li {
        display: inline-block; }

nav{
        margin-left: 175px;
}
a {     color: blanchedalmond;
        margin-right: 10px; 
        text-decoration: none;
       }   /*Pour espacer les li*/ 

.logo {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      color: blanchedalmond;
      text-decoration: none;
  }

li { 
      list-style: none;
      margin-right: 10px;}  /*pour enlver les points associes avec li*/

a:hover{
    
      color: orange;   /*quand on met le curseur sur a ca color en orange*/
}

.content-wrapper {
        max-width: 800px; /* Limite la largeur du texte pour une meilleure lisibilité */
        margin-left: auto; /* Centre le texte à l'intérieur de la section */
        margin-right: auto;
}

body{
  margin: 0;
      padding: 0;
        background-color: #f4f4f4;
        font-family: "Oswald" , Arial ; 
        background-image: url(gym5.jpg);
        background-position: center center;
         background-size: cover;
         background-repeat: no-repeat;
  
}
form {
  max-width: 1300px;
  margin:  auto;
 background-color:rgba(240, 240, 240, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
.h2-contact{
  color: blanchedalmond;
  text-align: center;}




.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1 0 400px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.premium {
  background-color: #333;
  color: #fff;
}

.premium h2 {
  border-bottom: 2px solid #fff;
}

.regular {
  background-color: #f5f5f5;
}

.regular h2 {
  border-bottom: 2px solid #333;
}


footer{  
  text-align: center; 
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 250px;
}
a {  color: blanchedalmond;
  text-decoration: none;
}
.span-footer{
  color:blanchedalmond;
}
a:hover{
  color: orange;
}
body{
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  
}
.h2-contact{
  color: blanchedalmond;
  text-align: center;

}
.find-us-section{
  color: antiquewhite;
}
.copyright-section{
 color: antiquewhite;
}