                           /*cette page a été crée par Mustapha Toubal Seghir*/

                         @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Protest+Riot&display=swap');


                           /*code css de la partie Header*/
.logo, nav , nav li {
        display: inline-block; 
        }

nav{
        margin-left: 175px;
        }
a {     color: blanchedalmond;
        margin-right: 10px; 
        text-decoration: none;
       }   

.logo {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      color: blanchedalmond;
      text-decoration: none;
        }

li { 
      list-style: none;
      margin-right: 10px;
        }  

a:hover{
    
      color: orange;   
        }


span { 
        color:orange;
        } 

span:hover {
        color: black;
        }

.sign-up-button {
                background-color:gray;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                color: orange;
           
                }                      
                           /*code css de la partie Main*/
body { 
        font-family: "Oswald" , Arial ;
         background-image: url(../Images/gym.jpg);
         background-position: center center;
         background-size: cover;
         background-repeat: no-repeat;
         padding: 0;
         margin: 0; 
        } 

.content-wrapper {
        max-width: 800px; 
        margin-left: auto; 
        margin-right: auto;
}

 h1     {
                margin-left: 40px;
        } 

.article1 {
        color: antiquewhite; 
        width: 25%;
        margin-left: 40px;

        }              

.article2{
        color: antiquewhite;
        width: 25%;
        margin-left: 40px;
        }


.testimonials-section{
        text-align: left;
        color: black;
        width: 25%;
        float: right;
        padding-left: 20px;
        background-color:rgba(240, 240, 240, 0.3);
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-right: 30px;
        }
.special-offers-section{
        text-align: center;
        color:black;
        width: 25%;
        margin-top: 50px;
        margin-left: 40px;
        background-color:rgba(240, 240, 240, 0.3);
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        }
.upcoming-events-section{
        text-align: center;
        color: black;
        width: 25%;
        height: 35%;
        margin-left: 40px;
        margin-top: 100px;
        background-color:rgba(240, 240, 240, 0.3);
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        }
h3 {
        margin: 0;
        }
.P-upcoming-events{
        margin-top: 0;
        }
.p-special-offers{
    margin-top: 0;
        }
.h2-cpcoming-events  ,.h2-special-offers ,.h2-testimonial{
 color: orange;
        }
.h1-section-content ,.h2-article2{
        color: orange;
        }
.client-name{
        font-weight: bold;
        }
                        /*code css de la partie footer*/

.span-footer:hover{
        color: orange;
        }
footer{  
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 350px;               
        }
.span-footer{
                color:blanchedalmond;
        }                                                                                       
.find-us-section{
                color: antiquewhite;
               }
.copyright-section{
               color: antiquewhite;
               }

/* adaptation des diffrents taille ecran de l'utilisateur */
@media screen and (max-width: 576px) {
        /*  .plants{
            flex-direction: column;
            justify-content: center;
        }
        .plants>div{
            width: 90%;
            margin: 0 auto;
        }  */
        .main-content {
                padding: 20px; /* Ajoute un peu d'espace intérieur pour le contenu */
            }
        
            .section-content {
                padding: 10px; /* Réduit légèrement l'espacement à l'intérieur de la section principale */
            }
        
            .h1-section-content {
                font-size: 24px; /* Réduit la taille du titre principal */
            }
        
            .article1, .article2 {
                margin-bottom: 20px; /* Ajoute un peu d'espace entre les articles */
            }
        
            .h2-article2 {
                font-size: 18px; /* Réduit la taille du sous-titre */
            }
        
            .testimonial {
                padding: 10px; /* Réduit l'espacement à l'intérieur de la section des témoignages */
            }
        
            .testimonial article {
                font-size: 14px; /* Réduit la taille de la police des témoignages */
            }
        
            .offer, .event {
                margin-bottom: 20px; /* Ajoute un peu d'espace entre les offres et les événements */
            }
        
            .h2-special-offers, .h2-cpcoming-events {
                font-size: 18px; /* Réduit la taille des titres d'offres spéciales et d'événements à venir */
            }
           ul ,li{
                margin: 0;
                padding: 0;
           }
           nav {
                margin-left: 200px;
           }
           .content-wrapper{
                display: inline-block;;
           } 
           .logo,nav {
                display: inline-block;
                vertical-align: middle;
           }
           header .content-wrapper {
                display: flex;
                align-items: center; /* Pour aligner verticalement les éléments */
            }
        }
        

@media only screen and (max-width: 768px) {
        
}

/* Pour les écrans jusqu'à 992px de large */
@media only screen and (max-width: 992px) {
        
}

/* Pour les écrans jusqu'à 1200px de large */
@media only screen and (max-width: 1200px) {
      
}